/*清除元素默认的内外边距  */
* {
    margin: 0;
    padding: 0
}
/*去掉列表前面的小点*/
li {
    list-style: none;
}
/*取消链接的下划线*/
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #e33333;
}
input {
    outline: none;
}
body {
    background-color: #fff;
    font-size:12px;
    font-family: "微软雅黑";
    color: #666;
}